/* You can add global styles to this file, and also import other style files */
@import "./assets/global";

body {
  font-family: Roboto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.loading-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(assets/img/loading.gif) no-repeat 50% 50%;
  background-color: #eaeaea;
}

@include phone {
    body {
        background-color: blue;
    }
}

@include tablet {
    body {
        background-color: green;
    }
}
