<div class="panel panel-default panel-login center-block">
  <div class="panel-heading text-center">
    <strong>Đăng nhập hệ thống</strong>
  </div>
  <div class="panel-body">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" class="form-control" placeholder="Tài khoản" aria-describedby="basic-addon1" name="username" [(ngModel)]="model.username" #username="ngModel" required>
        </div>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Cần nhập tài khoản</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-lock"></i>
          </span>
          <input type="password" class="form-control" placeholder="Mật khẩu" aria-describedby="basic-addon1" name="password" [(ngModel)]="model.password" #password="ngModel" required>
        </div>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Cần nhập mật khẩu</div>
      </div>
      <div class="form-group">
        <label>
            <input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel"> Ghi nhớ đăng nhập
        </label>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
              Đăng nhập
              <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
          </button>
      </div>
      <alert [type]="'danger'" dismissible="true" *ngIf="error">{{error}}</alert>
    </form>
  </div>
</div>
